.search {
    margin-top: 20px;
    display: block;
    height: 40px;
    border: solid black 1px;
    border-radius: 20px;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 350px;
    left: 50%;
    margin-left: -175px;
}

.search > input {
    width: 95%;
    position: absolute;
    left: 15px;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border: 0;
}

.search > input:focus-visible {
    outline: none;
}

.search > i {
    position: absolute;
    margin-top: 10px;   
    margin-right: 10px;
    right: 0;
}

#result {
    list-style-type: none;
}

#result > li {
    margin-bottom: 5px;
    padding: 10px;
}

#result > li:hover {
    border: solid black 1px;
}

#result > li {
    background-color: bisque;
}

#result > li:nth-child(2n) {
    background-color: #f1f1f1;
}

/************************************************/
/* Responsive */
@media only screen and ( max-width: 650px ){
    .search > input {
        max-width: 250px;
    }
}