#filter {
    width: 80%;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.form {
    display: flex;
    justify-content: center;
}

#search-icon {
    position: absolute;
    top: 10px;
    right: 20px;
}

#input_filter {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: inherit;
    border: none;
}

#input_filter:focus-visible {
    outline: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

details {
    width: 500px;
    border: 1px solid transparent;
    border-radius: 40px;
    margin: 10px;
    padding: 20px;
}

.comment {
    margin-top: 10px;
}

/******************************************************************************/

/* Responsive */
@media only screen and ( max-width: 650px ){
    .grid-container {
        grid-template-areas: 
        'cover cover'
        'header header'
        'aside aside'
        'main main'
        'footer footer';
    }
}