{% block navigation %}
<!--Navigation-->
<nav>
    <ul>
            <li>
                <a class="active" href="./index.php">
                    <i class="fas fa-home icon"></i>
                    Página principal
                </a>
            </li>
            <li>
                <a href="./evento.php?ev=1">
                    <i class="far fa-calendar-alt"></i>
                    Próxima excursión
                </a>
            </li>
            <li>
                <a 
                href="https://www.linkedin.com/in/jesusgonzalezalvarez/"
                target="_blank"
                >
                <i class="fab fa-linkedin-in"></i>
                &nbsp;Acerca del autor
            </a>
        </li>
    </ul>
</nav>
{% endblock %}